numpy
ctranslate2
fugashi
jaconv
mss
opencv_contrib_python
opencv_python
opencv_python_headless
paddleocr
Pillow
PySide6
PySide6_Addons
PySide6_Essentials
sentencepiece
torch-kmeans
transformers>=4.53.0
unidic-lite
deepl
googletrans
pynput
scikit-image